In [47]:
pip install pybaseball

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pybaseball in /usr/local/lib/python3.7/dist-packages (2.2.1)
Requirement already satisfied: pyarrow>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (6.0.1)
Requirement already satisfied: scipy>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (1.7.3)
Requirement already satisfied: pygithub>=1.51 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (1.55)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (3.2.2)
Requirement already satisfied: beautifulsoup4>=4.4.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (4.6.3)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (1.21.6)
Requirement already satisfied: tqdm>=4.50.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (4.64.1)
Requirement already satisfied: requests>=2.18.1 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (2.23.0)
Requirement already satisfied: lxml>=4.2.1 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (4.9.1)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (1.3.5)
Requirement already satisfied: attrs>=20.3.0 in /usr/local/lib/python3.7/dist-packages (from pybaseball) (22.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->pybaseball) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->pybaseball) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->pybaseball) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->pybaseball) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->pybaseball) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->pybaseball) (2022.2.1)
Requirement already satisfied: pyjwt>=2.0 in /usr/local/lib/python3.7/dist-packages (from pygithub>=1.51->pybaseball) (2.5.0)
Requirement already satisfied: pynacl>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from pygithub>=1.51->pybaseball) (1.5.0)
Requirement already satisfied: deprecated in /usr/local/lib/python3.7/dist-packages (from pygithub>=1.51->pybaseball) (1.2.13)
Requirement already satisfied: cffi>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pynacl>=1.4.0->pygithub>=1.51->pybaseball) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.4.1->pynacl>=1.4.0->pygithub>=1.51->pybaseball) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=2.0.0->pybaseball) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.1->pybaseball) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.1->pybaseball) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.1->pybaseball) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.1->pybaseball) (3.0.4)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated->pygithub>=1.51->pybaseball) (1.14.1)

In [48]:
import os 
import pandas as pd
import numpy as np

from pybaseball import batting_stats

In [49]:
START = 2002
END = 2022

In [50]:
batting = batting_stats(START, END, qual=200)

In [51]:
batting.to_csv("batting.csv")

In [52]:
batting = batting.groupby("IDfg", group_keys=False).filter(lambda x: x.shape[0]>1)

In [53]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA
0,1109,2002,Barry Bonds,SFG,37,143,403,612,149,70,...,NaN,NaN,NaN,NaN,0,0.127,0.191,NaN,NaN,NaN
1,1109,2004,Barry Bonds,SFG,39,147,373,617,135,60,...,NaN,NaN,NaN,NaN,0,0.124,0.164,NaN,NaN,NaN
15,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,...,0.131,110.6,217.0,0.500,434,0.220,0.270,NaN,NaN,NaN
4,15640,2022,Aaron Judge,NYY,30,142,525,631,166,82,...,0.263,118.4,224.0,0.596,376,0.175,0.291,NaN,NaN,NaN
2,1109,2003,Barry Bonds,SFG,38,130,390,550,133,65,...,NaN,NaN,NaN,NaN,0,0.135,0.223,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6861,1698,2010,Gerald Laird,DET,30,89,270,299,56,40,...,NaN,NaN,0.0,NaN,0,0.166,0.252,NaN,NaN,NaN
7025,9272,2018,Chris Davis,BAL,32,128,470,522,79,51,...,0.096,111.8,113.0,0.401,282,0.174,0.316,NaN,NaN,NaN
6663,319,2011,Adam Dunn,CHW,31,122,415,496,66,39,...,NaN,NaN,0.0,NaN,0,0.169,0.295,NaN,NaN,NaN
6969,620,2002,Neifi Perez,KCR,29,145,554,585,131,104,...,NaN,NaN,NaN,NaN,0,0.130,0.187,NaN,NaN,NaN
978,2113,2008,Ryan Doumit,PIT,27,116,431,465,137,88,...,NaN,NaN,0.0,NaN,0,0.144,0.231,NaN,NaN,NaN

In [54]:
def next_season(player):
  player = player.sort_values("Season")
  player["Next_WAR"] = player["WAR"].shift(-1)
  return player

batting = batting.groupby("IDfg", group_keys = False).apply(next_season)

In [55]:
batting[["Name", "Season", "WAR", "Next_WAR"]]

                 Name  Season  WAR  Next_WAR
5549  Alfredo Amezaga    2006  1.1       2.0
5001  Alfredo Amezaga    2007  2.0       1.2
5244  Alfredo Amezaga    2008  1.2       NaN
1166  Garret Anderson    2002  3.7       5.1
866   Garret Anderson    2003  5.1       0.8
...               ...     ...  ...       ...
6030      Owen Miller    2022  0.6       NaN
4881    Andrew Vaughn    2021 -0.3       0.5
1993    Andrew Vaughn    2022  0.5       NaN
6608     Ha-seong Kim    2021  0.5       2.9
4801     Ha-seong Kim    2022  2.9       NaN

[6741 rows x 4 columns]

In [56]:
null_count = batting.isnull().sum()
null_count

IDfg           0
Season         0
Name           0
Team           0
Age            0
            ...
CSW%           0
xBA         6741
xSLG        6741
xwOBA       6741
Next_WAR    1175
Length: 320, dtype: int64

In [57]:
complete_col = list(batting.columns[null_count == 0])

In [58]:
batting = batting[complete_col +["Next_WAR"]].copy()

In [59]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Pull%+,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,Next_WAR
5549,1,2006,Alfredo Amezaga,FLA,28,132,334,378,87,72,...,86,107,113,143,109,63,0,0.188,0.256,2.0
5001,1,2007,Alfredo Amezaga,FLA,29,133,400,448,105,80,...,92,101,112,109,113,75,0,0.175,0.227,1.2
5244,1,2008,Alfredo Amezaga,FLA,30,125,311,337,82,61,...,99,101,101,123,111,64,0,0.178,0.244,NaN
1166,2,2002,Garret Anderson,ANA,30,158,638,678,195,107,...,118,91,80,65,97,129,0,0.137,0.232,5.1
866,2,2003,Garret Anderson,ANA,31,159,638,673,201,119,...,112,101,80,90,99,109,0,0.164,0.252,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6030,24655,2022,Owen Miller,CLE,25,122,403,446,100,69,...,93,110,98,129,102,82,325,0.189,0.268,NaN
4881,26197,2021,Andrew Vaughn,CHW,23,127,417,469,98,61,...,87,104,116,84,99,110,321,0.185,0.285,0.5
1993,26197,2022,Andrew Vaughn,CHW,24,122,469,511,135,89,...,87,108,109,94,98,106,392,0.203,0.286,NaN
6608,27506,2021,Ha-seong Kim,SDP,25,117,267,298,54,32,...,126,99,59,137,96,88,201,0.216,0.303,2.9
4801,27506,2022,Ha-seong Kim,SDP,26,136,465,523,115,77,...,114,104,71,116,100,91,380,0.199,0.273,NaN

In [60]:
batting.dtypes

IDfg          int64
Season        int64
Name         object
Team         object
Age           int64
             ...
Hard%+        int64
Events        int64
CStr%       float64
CSW%        float64
Next_WAR    float64
Length: 132, dtype: object

In [61]:
batting.dtypes[batting.dtypes== "object"]

Name       object
Team       object
Dol        object
Age Rng    object
dtype: object

In [62]:
del batting["Dol"]

In [63]:
del batting["Age Rng"]

In [64]:
batting["team_code"] = batting["Team"].astype("category").cat.codes

In [65]:
batting_full = batting.copy()
batting = batting.dropna()

In [66]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SequentialFeatureSelector

from sklearn.model_selection import TimeSeriesSplit
rr = Ridge(alpha=1)
split = TimeSeriesSplit(n_splits=3)
sfs = SequentialFeatureSelector(rr,n_features_to_select = 20, direction ="forward", cv=split, n_jobs=-1 )

In [67]:
removed_columns = ["Next_WAR", "Name", "Team", "IDfg", "Season"]
selected_columns = batting.columns[~batting.columns.isin(removed_columns)]

In [68]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
batting.loc[:,selected_columns] = scaler.fit_transform(batting[selected_columns])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1835: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [69]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,Next_WAR,team_code
5549,1,2006,Alfredo Amezaga,FLA,0.346154,0.735043,0.312950,0.307958,0.245690,0.278302,...,0.539326,0.503759,0.662921,0.652174,0.210884,0.000000,0.582979,0.524229,2.0,0.352941
5001,1,2007,Alfredo Amezaga,FLA,0.384615,0.743590,0.431655,0.429066,0.323276,0.316038,...,0.471910,0.496241,0.471910,0.710145,0.292517,0.000000,0.527660,0.396476,1.2,0.352941
1166,2,2002,Garret Anderson,ANA,0.423077,0.957265,0.859712,0.826990,0.711207,0.443396,...,0.359551,0.255639,0.224719,0.478261,0.659864,0.000000,0.365957,0.418502,5.1,0.029412
866,2,2003,Garret Anderson,ANA,0.461538,0.965812,0.859712,0.818339,0.737069,0.500000,...,0.471910,0.255639,0.365169,0.507246,0.523810,0.000000,0.480851,0.506608,0.8,0.029412
2570,2,2004,Garret Anderson,ANA,0.500000,0.564103,0.507194,0.475779,0.443966,0.400943,...,0.494382,0.218045,0.297753,0.608696,0.448980,0.000000,0.531915,0.585903,-0.2,0.029412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914,23667,2021,Wander Franco,TBR,0.038462,0.205128,0.217626,0.186851,0.219828,0.179245,...,0.617978,0.390977,0.421348,0.608696,0.394558,0.409015,0.391489,0.352423,1.2,0.911765
5868,24618,2021,Ryan Jeffers,MIN,0.192308,0.333333,0.192446,0.160900,0.099138,0.070755,...,0.415730,0.315789,0.376404,0.347826,0.619048,0.265442,0.514894,0.788546,1.0,0.558824
7015,24655,2021,Owen Miller,CLE,0.192308,0.119658,0.055755,0.003460,0.038793,0.066038,...,0.584270,0.593985,0.331461,0.681159,0.394558,0.230384,0.548936,0.700441,0.6,0.264706
4881,26197,2021,Andrew Vaughn,CHW,0.153846,0.692308,0.462230,0.465398,0.293103,0.226415,...,0.505618,0.526316,0.331461,0.507246,0.530612,0.535893,0.570213,0.651982,0.5,0.205882
6608,27506,2021,Ha-seong Kim,SDP,0.230769,0.606838,0.192446,0.169550,0.103448,0.089623,...,0.449438,0.097744,0.629213,0.463768,0.380952,0.335559,0.702128,0.731278,2.9,0.764706

In [70]:
batting.describe()

,IDfg,Season,Age,G,AB,PA,H,1B,2B,3B,...,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,Next_WAR,team_code
count,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000,...,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000,5566.000000
mean,5353.147143,2011.148581,0.360658,0.652992,0.478963,0.481271,0.366228,0.290651,0.399550,0.103509,...,0.457507,0.403186,0.410831,0.510975,0.478730,0.172616,0.498819,0.545709,1.789508,0.474266
std,5123.554248,5.604518,0.147498,0.255860,0.242343,0.262143,0.182509,0.138768,0.171700,0.105905,...,0.114058,0.131188,0.121118,0.130341,0.134051,0.273822,0.137227,0.120658,1.991169,0.305072
min,1.000000,2002.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.400000,0.000000
25%,1129.000000,2006.000000,0.269231,0.478632,0.276978,0.259516,0.211207,0.179245,0.258621,0.043478,...,0.382022,0.315789,0.331461,0.420290,0.387755,0.000000,0.408511,0.466960,0.300000,0.205882
50%,3523.500000,2011.000000,0.346154,0.709402,0.507194,0.508651,0.370690,0.287736,0.379310,0.086957,...,0.460674,0.398496,0.404494,0.507246,0.489796,0.000000,0.493617,0.546256,1.500000,0.470588
75%,8722.000000,2016.000000,0.461538,0.871795,0.688849,0.711073,0.508621,0.391509,0.517241,0.130435,...,0.528090,0.488722,0.483146,0.594203,0.564626,0.345576,0.591489,0.625551,2.900000,0.735294
max,27506.000000,2021.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.900000,1.000000

In [71]:
sfs.fit(batting[selected_columns], batting["Next_WAR"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=Ridge(alpha=1), n_features_to_select=20,
                          n_jobs=-1)

In [ ]:
predictors = list(selected_columns[sfs.get_support()])

In [ ]:
def backtest(data, model, predictors, start=5, step=1):
  all_predictions = []

  years = list(np.unique(batting["Season"]))

  for i in range(start, len(years), step):
    current_year = years[i]

    train = data[data["Season"] < current_year]
    test = data[data["Season"] == current_year]

    model.fit(train[predictors], train["Next_WAR"])

    preds = model.predict(test[predictors])
    preds = pd.Series(preds, index=test.index)
    combined = pd.concat([test["Next_WAR"], preds], axis=1)
    combined.columns = ["actual", "prediction"] 


    all_predictions.append(combined)


  return pd.concat(all_predictions)

In [ ]:
predictions = backtest(batting, rr, predictors)
predictions

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(predictions["actual"], predictions["prediction"])

In [ ]:
2.7747723850621986 ** .5

In [77]:
def player_history(df):
  df = df.sort_values("Season")

  df["player_season"] = range(0, df.shape[0])
  df["war_corr"] = list(df[["player_season", "WAR"]].expanding().corr().loc[(slice(None), "player_season"), "WAR"])
  df["war_corr"].fillna(1, inplace=True)

  df["war_diff"] = df["WAR"] / df["WAR"].shift(1)
  df["war_diff"].fillna(1, inplace=True)

  df["war_diff"][df["war_diff"] == np.inf] = 1
  return df
  

batting = batting.groupby("IDfg", group_keys=False).apply(player_history)

In [78]:
def group_averages(df):
  return df["WAR"] / df["WAR"].mean()

In [81]:
batting["war_season"] = batting.groupby("Season", group_keys=False).apply(group_averages)

In [82]:
new_predictiors = predictors + ["player_season", "war_corr", "war_season", "war_diff"]

In [83]:
predictions = backtest(batting, rr, new_predictiors)

In [84]:
mean_squared_error(predictions["actual"], predictions["prediction"])

2.6782279130792697

In [86]:
pd.Series(rr.coef_, index=new_predictiors).sort_values

<bound method Series.sort_values of Age             -2.727753
IBB              1.813451
SO              -0.716252
SB               1.032511
BU              -0.977809
BABIP           -1.581988
IFH%             0.407585
WAR             -1.804709
Spd              0.713547
PH              -0.737801
CB%             -0.214153
Z-Contact%      -0.769664
SwStr%          -1.118100
wGDP            -0.495349
Oppo%            0.629123
OBP+            -0.238311
SLG+            -1.137817
Pull%+          -0.255955
Soft%+          -1.224169
Hard%+           2.261766
player_season    0.000076
war_corr        -0.123774
war_season       3.457241
war_diff        -0.588395
dtype: float64>

In [87]:
diff = predictions["actual"] - predictions["prediction"]

In [90]:
merged = predictions.merge(batting, left_index=True, right_index=True)
merged

,actual,prediction,IDfg,Season,Name,Team,Age,G,AB,PA,...,Hard%+,Events,CStr%,CSW%,Next_WAR,team_code,player_season,war_corr,war_diff,war_season
5001,1.2,1.483079,1,2007,Alfredo Amezaga,FLA,0.384615,0.743590,0.431655,0.429066,...,0.292517,0.000000,0.527660,0.396476,1.2,0.352941,1,1.000000,1.200000,0.998355
1924,1.4,0.485528,2,2007,Garret Anderson,LAA,0.615385,0.529915,0.462230,0.432526,...,0.523810,0.000000,0.442553,0.480176,1.4,0.441176,5,-0.692192,1.371429,0.887427
3111,-0.1,0.405159,10,2007,David Eckstein,STL,0.500000,0.606838,0.492806,0.491349,...,0.265306,0.000000,0.676596,0.436123,-0.1,0.852941,5,-0.694330,0.836735,0.758010
5783,0.6,0.918003,11,2007,Darin Erstad,CHW,0.538462,0.350427,0.269784,0.254325,...,0.380952,0.000000,0.765957,0.691630,0.6,0.205882,4,-0.828562,0.803922,0.758010
1105,4.8,2.062299,15,2007,Troy Glaus,TOR,0.423077,0.589744,0.404676,0.442907,...,0.680272,0.000000,0.634043,0.704846,4.8,0.970588,5,0.231396,0.897059,1.127772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914,1.2,2.649520,23667,2021,Wander Franco,TBR,0.038462,0.205128,0.217626,0.186851,...,0.394558,0.409015,0.391489,0.352423,1.2,0.911765,0,1.000000,1.000000,1.055869
5868,1.0,1.732025,24618,2021,Ryan Jeffers,MIN,0.192308,0.333333,0.192446,0.160900,...,0.619048,0.265442,0.514894,0.788546,1.0,0.558824,0,1.000000,1.000000,0.746390
7015,0.6,1.199696,24655,2021,Owen Miller,CLE,0.192308,0.119658,0.055755,0.003460,...,0.394558,0.230384,0.548936,0.700441,0.6,0.264706,0,1.000000,1.000000,0.436911
4881,0.5,1.356074,26197,2021,Andrew Vaughn,CHW,0.153846,0.692308,0.462230,0.465398,...,0.530612,0.535893,0.570213,0.651982,0.5,0.205882,0,1.000000,1.000000,0.564344
6608,2.9,1.060490,27506,2021,Ha-seong Kim,SDP,0.230769,0.606838,0.192446,0.169550,...,0.380952,0.335559,0.702128,0.731278,2.9,0.764706,0,1.000000,1.000000,0.709981

In [105]:
merged["diff"] = (predictions["actual"] - predictions["prediction"]).abs()

In [106]:
merged.sort_values("diff").head()

,actual,prediction,IDfg,Season,Name,Team,Age,G,AB,PA,...,Events,CStr%,CSW%,Next_WAR,team_code,player_season,war_corr,war_diff,war_season,diff
3528,1.5,1.499766,13066,2019,Teoscar Hernandez,TOR,0.269231,0.675214,0.462230,0.456747,...,0.442404,0.412766,0.696035,1.5,0.970588,1,1.000000,1.093023,0.846994,0.000234
1156,3.1,3.099418,14128,2017,Joey Gallo,TEX,0.153846,0.846154,0.519784,0.574394,...,0.422371,0.276596,0.757709,3.1,0.941176,0,1.000000,1.000000,1.138325,0.000582
3237,1.8,1.799319,3114,2008,Jose Lopez,SEA,0.192308,0.965812,0.870504,0.842561,...,0.000000,0.561702,0.453744,1.8,0.794118,4,0.455842,2.000000,1.047589,0.000681
2746,-0.1,-0.101016,5887,2016,John Jaso,PIT,0.500000,0.735043,0.395683,0.401384,...,0.514190,0.608511,0.533040,-0.1,0.735294,6,0.102213,0.975610,0.733874,0.001016
4153,2.6,2.597192,5209,2007,Alex Gordon,KCR,0.153846,0.897436,0.688849,0.693772,...,0.000000,0.400000,0.555066,2.6,0.411765,0,1.000000,1.000000,1.035331,0.002808

In [95]:
merged[["IDfg", "Season", "Name", "WAR", "Next_WAR", "diff"]].sort_values(["diff"])

       IDfg  Season             Name       WAR  Next_WAR      diff
2517  11579    2014     Bryce Harper  0.310559       9.3  7.508263
873    9166    2010     Buster Posey  0.459627      10.1  6.655335
3820   1875    2009    Josh Hamilton  0.291925       8.4  6.557705
451   15640    2021      Aaron Judge  0.552795      10.4  6.547847
3251   5631    2010        Matt Kemp  0.211180       8.3  6.349792
...     ...     ...              ...       ...       ...       ...
254    4727    2011  Jacoby Ellsbury  0.801242       0.8 -4.498286
588     319    2010        Adam Dunn  0.397516      -2.9 -4.547045
982    1201    2010    Carl Crawford  0.689441       0.0 -4.937132
156     393    2014  Victor Martinez  0.490683      -2.0 -4.939070
1770   2113    2007      Ryan Doumit  0.341615      -3.4 -4.990208

[4118 rows x 6 columns]

In [96]:
merged

,actual,prediction,IDfg,Season,Name,Team,Age,G,AB,PA,...,Events,CStr%,CSW%,Next_WAR,team_code,player_season,war_corr,war_diff,war_season,diff
5001,1.2,1.483079,1,2007,Alfredo Amezaga,FLA,0.384615,0.743590,0.431655,0.429066,...,0.000000,0.527660,0.396476,1.2,0.352941,1,1.000000,1.200000,0.998355,-0.283079
1924,1.4,0.485528,2,2007,Garret Anderson,LAA,0.615385,0.529915,0.462230,0.432526,...,0.000000,0.442553,0.480176,1.4,0.441176,5,-0.692192,1.371429,0.887427,0.914472
3111,-0.1,0.405159,10,2007,David Eckstein,STL,0.500000,0.606838,0.492806,0.491349,...,0.000000,0.676596,0.436123,-0.1,0.852941,5,-0.694330,0.836735,0.758010,-0.505159
5783,0.6,0.918003,11,2007,Darin Erstad,CHW,0.538462,0.350427,0.269784,0.254325,...,0.000000,0.765957,0.691630,0.6,0.205882,4,-0.828562,0.803922,0.758010,-0.318003
1105,4.8,2.062299,15,2007,Troy Glaus,TOR,0.423077,0.589744,0.404676,0.442907,...,0.000000,0.634043,0.704846,4.8,0.970588,5,0.231396,0.897059,1.127772,2.737701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914,1.2,2.649520,23667,2021,Wander Franco,TBR,0.038462,0.205128,0.217626,0.186851,...,0.409015,0.391489,0.352423,1.2,0.911765,0,1.000000,1.000000,1.055869,-1.449520
5868,1.0,1.732025,24618,2021,Ryan Jeffers,MIN,0.192308,0.333333,0.192446,0.160900,...,0.265442,0.514894,0.788546,1.0,0.558824,0,1.000000,1.000000,0.746390,-0.732025
7015,0.6,1.199696,24655,2021,Owen Miller,CLE,0.192308,0.119658,0.055755,0.003460,...,0.230384,0.548936,0.700441,0.6,0.264706,0,1.000000,1.000000,0.436911,-0.599696
4881,0.5,1.356074,26197,2021,Andrew Vaughn,CHW,0.153846,0.692308,0.462230,0.465398,...,0.535893,0.570213,0.651982,0.5,0.205882,0,1.000000,1.000000,0.564344,-0.856074
6608,2.9,1.060490,27506,2021,Ha-seong Kim,SDP,0.230769,0.606838,0.192446,0.169550,...,0.335559,0.702128,0.731278,2.9,0.764706,0,1.000000,1.000000,0.709981,1.839510

In [108]:
merged[["IDfg", "Season", "Name", "WAR", "Next_WAR", "diff"]].sort_values(["diff"])

       IDfg  Season               Name       WAR  Next_WAR      diff
3528  13066    2019  Teoscar Hernandez  0.291925       1.5  0.000234
1156  14128    2017         Joey Gallo  0.385093       3.1  0.000582
3237   3114    2008         Jose Lopez  0.347826       1.8  0.000681
2746   5887    2016          John Jaso  0.248447      -0.1  0.001016
4153   5209    2007        Alex Gordon  0.347826       2.6  0.002808
...     ...     ...                ...       ...       ...       ...
3251   5631    2010          Matt Kemp  0.211180       8.3  6.349792
451   15640    2021        Aaron Judge  0.552795      10.4  6.547847
3820   1875    2009      Josh Hamilton  0.291925       8.4  6.557705
873    9166    2010       Buster Posey  0.459627      10.1  6.655335
2517  11579    2014       Bryce Harper  0.310559       9.3  7.508263

[4118 rows x 6 columns]

In [100]:
merged[merged["Season"] == 2019]

,actual,prediction,IDfg,Season,Name,Team,Age,G,AB,PA,...,Events,CStr%,CSW%,Next_WAR,team_code,player_season,war_corr,war_diff,war_season,diff
4720,-0.2,-0.435136,1177,2019,Albert Pujols,LAA,0.769231,0.726496,0.595324,0.596886,...,0.719533,0.621277,0.594714,-0.2,0.441176,17,-0.883498,0.965517,0.504592,-0.635136
3989,0.3,-0.378260,1744,2019,Miguel Cabrera,DET,0.653846,0.769231,0.598921,0.603806,...,0.651085,0.425532,0.541850,0.3,0.323529,15,-0.091068,1.074074,0.522613,-0.078260
2579,1.0,1.123297,2136,2019,David Peralta,ARI,0.461538,0.452991,0.399281,0.385813,...,0.494157,0.421277,0.559471,1.0,0.058824,4,0.037418,0.705882,0.865015,-0.123297
616,0.7,2.645625,2396,2019,Carlos Santana,CLE,0.538462,0.957265,0.742806,0.840830,...,0.779633,0.502128,0.475771,0.7,0.264706,8,0.877896,1.389831,1.477734,-1.945625
113,2.0,1.520888,2434,2019,Nelson Cruz,MIN,0.730769,0.632479,0.528777,0.555363,...,0.545910,0.353191,0.603524,2.0,0.558824,11,0.493472,1.305085,1.387629,0.479112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,3.3,2.211430,19709,2019,Fernando Tatis Jr.,SDP,0.038462,0.324786,0.312950,0.297578,...,0.378965,0.395745,0.722467,3.3,0.764706,0,1.000000,1.000000,1.171375,1.088570
1681,5.0,2.817326,19755,2019,Shohei Ohtani,LAA,0.192308,0.512821,0.402878,0.389273,...,0.467446,0.370213,0.546256,5.0,0.441176,1,-1.000000,0.836066,0.919079,2.182674
5397,1.9,1.495734,19858,2019,Luis Rengifo,LAA,0.115385,0.529915,0.354317,0.356401,...,0.447412,0.574468,0.682819,1.9,0.441176,0,1.000000,1.000000,0.720846,0.404266
428,0.4,1.876893,20003,2019,Keston Hiura,MIL,0.115385,0.324786,0.276978,0.256055,...,0.347245,0.348936,0.757709,0.4,0.529412,0,1.000000,1.000000,1.045227,-1.476893
331,7.0,4.457603,20123,2019,Juan Soto,WSN,0.038462,0.888889,0.687050,0.794118,...,0.694491,0.468085,0.502203,7.0,1.000000,1,1.000000,1.267606,1.621904,2.542397

Warning: Total number of columns (138) exceeds max_columns (20) limiting to first (20) columns.